<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lielu.testmapappandroid1.feature">

    <application>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCi88oQse_kZ7f8mBInURtMQf_vQd8YOu8" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="https://lielu.github.io/"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicMapDemoActivity" />
        <activity android:name=".MarkerDemoActivity" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>